---
import doctors from "../../data/doctors";
import DoctorCard from "./DoctorCard";
---

<div class="flex flex-wrap justify-center gap-x-12 gap-y-14">
  {doctors.map((doctor) => (
    <DoctorCard doctor={doctor} key={doctor.id} />
  ))}
</div>
