---
import Layout from "@layouts/Layout.astro";
---

<Layout headerVariant="light">
  <section class="mt-12 lg:mt-24 grid min-h-dvh grid-cols-1 md:grid-cols-2">
    <div class="flex items-center bg-primary-blue py-16 text-primary-blue-200">
      <div
        class="container mx-4 lg:mx-auto flex w-full sm:max-w-lg xl:max-w-2xl 2xl:max-w-3xl flex-col gap-10"
      >
        <header class="flex flex-col gap-4">
          <h1 class="text-3xl font-normal leading-snug md:text-4xl">
            Nuestros servicios y especialistas te esperan
          </h1>
          <p class="text-base md:text-lg font-light">
            Si buscas agendar una cita para alguno de nuestros servicios,
            contáctanos en los siguientes teléfonos.
          </p>
        </header>

        <dl class="flex flex-col gap-6">
          <div class="flex flex-col gap-2">
            <dt class="text-base lg:text-lg font-bold">Telefonos</dt>
            <dd
              class="flex flex-col gap-1 text-lg font-light leading-relaxed [&>span>b]:font-semibold"
            >
              <span><b>Tel:</b> 55 5246 5000 <b>Ext. 3088</b></span>
              <span><b>Tel directo:</b> 55 5247 2668</span>
              <span
                >Para referir a una paciente o solicitar una consulta, por favor
                contáctanos directamente.</span
              >
            </dd>
          </div>

          <div class="flex flex-col gap-2">
            <dt class="text-base lg:text-lg font-bold">Horario de atención</dt>
            <dd
              class="text-base leading-relaxed font-light [&>span>b]:font-semibold"
            >
              <b>Lunes a viernes:</b> 9:00 a 20:30 horas
              <br />
              <b>Sábado:</b> 9:00 a 13:00 horas
            </dd>
          </div>

          <div class="flex flex-col gap-2">
            <dt class="text-base lg:text-lg font-bold">Ubicación</dt>
            <dd
              class="text-base leading-relaxed font-light [&>span>b]:font-semibold"
            >
              <b>Hospital Angeles Lomas</b>
              <br />
              Vialidad de la Barranca S/N
              <br />
              Col. Valle de las Palmas
              <br />
              Huixquilucan, Estado de México. C.P. 52763
            </dd>
          </div>
        </dl>

        <div>
          <a
            href="https://maps.google.com/?q=Hospital+%C3%81ngeles+Lomas"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-3 rounded-full border border-white/70 px-6 py-2
            text-sm lg:text-base font-light uppercase text-white transition hover:border-white hover:bg-white/10"
          >
            Ver ubicación
          </a>
        </div>
      </div>
    </div>

    <div class="h-full w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.4069466643564!2d-99.28406792478657!3d19.394815381876437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d206cc5d563ffd%3A0xf70cdf4e5a254cee!2sHospital%20Angeles%20Lomas!5e0!3m2!1ses!2smx!4v1761853831026!5m2!1ses!2smx"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación Hospital Ángeles Lomas"
        class="h-full min-h-[320px] w-full"></iframe>
    </div>
  </section>
</Layout>
