---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import HeroBanner from "@components/HeroBanner.astro";
import AboutStrip from "@components/pages/home/AboutStrip.astro";
import DoctorsSection from "@components/doctors/DoctorsSection.astro";
import CtaSection from "@components/pages/home/CtaSection.astro";
import imgBanner from "@assets/img/home/banner/banner1.jpg";
import imgSello from "@assets/img/home/sello.png";
import SeccionServices from "@components/services/SeccionServices.astro";
---

<Layout headerVariant="dark">
  <HeroBanner backgroundImage={imgBanner} activeBgOverlay={true}>
    <section
      class="container place-self-end justify-self-center
      flex flex-col items-center gap-2
      max-w-5xl text-center mb-12"
    >
      <h1
        class="text-2xl md:text-3xl lg:text-4xl font-semibold text-white leading-relaxed"
      >
        Clínica de Medicina Materno Fetal en México certificada por la Joint
        Commission International (JCI)
      </h1>

      <Image src={imgSello} alt="Logo JCI" class="w-32 md:w-40 lg:w-48" />
    </section>
  </HeroBanner>
  <AboutStrip />
  <SeccionServices
    title="Estudios para cada etapa de tu embarazo"
    description={`"Durante el embarazo, los ultrasonidos son una parte fundamental del
        control prenatal. Nos permiten observar el desarrollo del bebé,
        identificar posibles complicaciones a tiempo y tomar decisiones médicas
        informadas para cuidar tu salud y la de tu bebé."`}
  />

  <DoctorsSection
    title="Conozca nuestro equipo de especialistas e interconsultantes"
    description="Trabajamos bajo un enfoque multidisciplinario que nos permite diagnosticar, tratar y ofrecer cuidado continuo a lo largo del embarazo de forma más precisa y segura."
  />
  <CtaSection />
</Layout>
