---

---

<footer class="bg-primary-blue-800 text-primary-blue-200">
  <div
    class="container mx-auto flex flex-col gap-6 px-6 py-8 text-sm md:flex-row md:items-center md:justify-center md:gap-12"
  >
    <nav
      class="flex flex-col gap-4 md:flex-row md:items-center md:gap-8 lg:text-lg"
    >
      <a
        href="#Citas"
        class="group flex items-center gap-2 uppercase hover:underline"
      >
        <span>Agenda cita</span>
      </a>
      <a
        href="https://maps.google.com/?q=Hospital+%C3%81ngeles+Lomas"
        target="_blank"
        rel="noopener noreferrer"
        class="group flex items-center gap-2 uppercase hover:underline"
      >
        <span>Ubicación</span>
      </a>
    </nav>
    <p class="uppercase text-center lg:text-lg">
      Copyright © 2025 clinicamaternofetal.com.mx
    </p>
  </div>
</footer>

<style>
  @reference "../styles/global.css";
</style>
